.locality-container{
    height: auto;
    width: 100%;
    margin-top: 2rem;
    /* border: 1px solid #333; */
}
.locality-items{
    display: grid;
    grid-template-columns: 59.5% 40%;
    gap: .5%;
    height: 300px;
    /* border: 1px solid #333; */
}
.area-image, .google-map{
    height: 300px;
    width: 100%;
    /* border: 1px solid #333; */

}
.locality-btn{
    display: flex;
    justify-content: space-around;
    margin: 1rem 0rem;
}
.land-mark{
    padding: .5rem 2rem;
    border: 1px solid #e1dede;
    border-radius: 10px;
    &:hover{
        border: 1px solid #acacac;

    }
}